@charset "utf-8";
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1783e9;
}

.container {
  text-align: center;
}

.title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

button:hover {
  background-color: #59a07f;
}

.signup-link {
  margin-top: 10px;
  font-size: 0.9em;
}

.signup-link a {
  color: #1bb355;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
